  services:
    mssql-init:
      image: alpine
      command: sh -c "chown -R 10001:0 /var/opt/mssql"
      volumes:
        - mssql_data:/var/opt/mssql
      restart: "no"

    mssql:
      image: mcr.microsoft.com/mssql/server:2022-latest
      container_name: mssql
      environment:
        - ACCEPT_EULA=Y
        - SA_PASSWORD=Password123
        - MSSQL_PID=Developer
      ports:
        - "1433:1433"
      volumes:
        - mssql_data:/var/opt/mssql
      healthcheck:
        test: ["CMD", "/opt/mssql-tools/bin/sqlcmd", "-S", "localhost", "-U", "sa", "-P", "Password123", "-Q", "SELECT 1"]
        interval: 10s
        timeout: 5s
        retries: 10

    mssql-create-db:
      image: mcr.microsoft.com/mssql-tools
      platform: linux/amd64
      depends_on:
        - mssql
        - mssql-init
      environment:
        SA_PASSWORD: "${SA_PASSWORD}"
        DB_NAME: "${DB_NAME}"
      entrypoint: /bin/sh -c
      command: >
        "until /opt/mssql-tools/bin/sqlcmd -S mssql -U sa -P \"$SA_PASSWORD\" -Q 'SELECT 1' >/dev/null 2>&1; do
           echo waiting for mssql;
           sleep 1;
         done;
         /opt/mssql-tools/bin/sqlcmd -S mssql -U sa -P \"$SA_PASSWORD\" -Q \"IF DB_ID('$DB_NAME') IS NULL CREATE DATABASE [$DB_NAME];\""
      restart: "no"

    keycloak:
      image: quay.io/keycloak/keycloak:24.0.5
      container_name: keycloak
      command: start-dev --http-port=8081
      environment:
        - KC_DB=dev-mem
        - KEYCLOAK_ADMIN=admin
        - KEYCLOAK_ADMIN_PASSWORD=admin
      ports:
        - "8081:8081"
      depends_on:
        - mssql

    app:
      build:
        context: .
        dockerfile: src/main/docker/Dockerfile.jvm
      container_name: investment_app
      depends_on:
        mssql:
          condition: service_healthy
        keycloak:
          condition: service_started
      environment:
        - QUARKUS_DATASOURCE_MSSQL_DB_KIND=mssql
        - QUARKUS_DATASOURCE_MSSQL_JDBC_URL=jdbc:sqlserver://mssql:1433;databaseName=investmentdb;encrypt=false;trustServerCertificate=true
        - QUARKUS_DATASOURCE_MSSQL_USERNAME=sa
        - QUARKUS_DATASOURCE_MSSQL_PASSWORD=Password123
        - QUARKUS_HIBERNATE_ORM_MSSQL_SQL_LOAD_SCRIPT=import.sql
        - QUARKUS_HIBERNATE_ORM_LOG_SQL=true
        - QUARKUS_OIDC_AUTH_SERVER_URL=http://keycloak:8081/realms/investment
        - QUARKUS_OIDC_CLIENT_ID=backend
        - QUARKUS_OIDC_CREDENTIALS_SECRET=uTyuMyCIy7BSYFfmkIfW3m5aYiiaISzD
        - QUARKUS_HTTP_PORT=8080
      ports:
        - "8080:8080"

  volumes:
    mssql_data: